pkgbase = mingw-w64-aom
	pkgdesc = Alliance for Open Media video codec (mingw-w64)
	pkgver = 3.8.2
	pkgrel = 1
	url = https://aomedia.org/
	arch = any
	license = BSD-3-Clause
	makedepends = mingw-w64-gcc
	makedepends = mingw-w64-cmake
	makedepends = ninja
	makedepends = yasm
	depends = mingw-w64-crt
	options = !strip
	options = !buildflags
	options = staticlibs
	source = https://storage.googleapis.com/aom-releases/libaom-3.8.2.tar.gz
	source = https://storage.googleapis.com/aom-releases/libaom-3.8.2.tar.gz.asc
	source = cmake.patch
	validpgpkeys = B002F08B74A148DAA01F7123A48E86DB0B830498
	b2sums = ec572567699740e8114c220051f84e85ee9f33fb3003ece3cb738435bc1436c03499a3c35e86fc8c7d0d905e5ca01dbad78180af7c526c0ed932b07745df76c6
	b2sums = SKIP
	b2sums = 627c000cc5b152e78714898156ebebb2524749bd1d701bbbdca0b431301426c2f821403299a6fd4420be80133d4e7178dea8b2f4aae2ab34e9e81e584ebda345

pkgname = mingw-w64-aom
